<h1>Interpolations</h1>
<small>
  Interpolation refers to embedding expressions into marked up text. By default,
  interpolation uses the double curly braces {{ "{{" }} and {{"}}"}} as
  delimiters.
</small>

<br />

<p>{{ name }} has {{ age }} years old !</p>
<p>{{ name }} has more than 28 years old ?</p>
<p>{{ age > 28 }}</p>
<p>How much is {{ age }} + 1 ??</p>
<p>{{ age + 1 }}</p>

<hr />

<h1>Property Bindings</h1>
<small>
  Property binding in Angular helps you set values for properties of HTML
  elements or directives. Use property binding to do things such as toggle
  button functionality, set paths programmatically, and share values between
  components.
</small>

<br />

<button [disabled]="isButtonDisabled">Some button</button>

<br />

<img [src]="imageSource" [alt]="imageAlt" />

<hr />

<br />
<br />

<h1>Event Bidings</h1>
<small>
  Event binding lets you listen for and respond to user actions such as
  keystrokes, mouse movements, clicks, and touches.
</small>

<br />
<br />

<button (click)="callAlertEvent()">Ivoke alert event</button>

<div
  style="background: red; width: 300px; height: 300px"
  (mousemove)="mouseMoveTest($event)"
></div>
{{ position.x }} - {{ position.y }}

<br />
<br />

<h1>Two-way Bidings</h1>
<small>
  Two-way binding gives components in your application a way to share data. Use
  two-way binding to listen for events and update values simultaneously between
  parent and child components.
</small>

<br />
<br />

<input type="text" [(ngModel)]="name">

{{name}}
